body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

/*For showing purposes, change to fit in the project */

.filter {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 284px;
  padding: 0;
}

.title {
  font-size: 24px;
  margin: 0 80% 6% 0;
  padding: 0;
}

.filter-func {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
}

.show-button {
  background-color: #f2d14e;
  border: none;
  margin-bottom: 5px;
}

.reset-button {
  background-color: #fff;
  border: solid 1px;
  margin-top: 5px;
}

.checkbox-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
  padding: 0;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 3%;
}

.overflow-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 3%;
}

.overflow-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  height: 240px;
  width: 260px;
}

.filter-title {
  padding: 0;
  margin: 0;
  margin-top: 6%;
}

/*Custom scrollbar*/

.overflow-list::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.overflow-list::-webkit-scrollbar-thumb {
  background: #f2d14e;
  border-radius: 16px;
}

.overflow-list::-webkit-scrollbar-track {
  background: grey;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  background-clip: padding-box;
}

.price-range {
  padding-right: 15%;
}

.values span {
  display: inline-block;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.price-title {
  margin: 6% 80% 2% 0;
  padding: 0;
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked + label::before {
  content: "✓";
  background-color: #f2d14e;
  color: white;
}

label {
  display: flex;
  align-items: center;
}

label::before {
  content: "";
  width: 1em;
  height: 1em;
  border: 2px solid;
  margin-right: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

/*Custom slider*/

input[type="range"] {
  width: 100%;
  appearance: none;
  height: 1px;
  background-color: black;
  border-radius: 5px;
  outline: none;
  margin: 0;
  margin-left: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #f2d14e;
  cursor: pointer;
  margin-top: -5px;
}

.mirrored {
  direction: rtl;
}
